---
layout: default
---

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul id="tabs" class="nav" style="background-image: url('{site.image('marsjug.png')}')">
        <li><a href="{site.url()}">Home</a></li>
        <li><a href="{site.url("reunions")}">Soirées</a></li>
        <li><a href="{site.url("archives")}">Archives</a></li>
        <li><a href="{site.url("partenaires")}">Partenaires</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <section id="{page.data.id}">
    <div class="row">
      {#insert /}
    </div>
  </section>
</div>

